
 .mainDiv {
    display: table;
    clear: both;
}

.main {
    display: table-cell;
    width: 55%;
}

.divOfMain {
    width: 85%;
}

.h2 {
    color: #754b23;
}

.aside1 {
    display: table-cell;
    width: 14%;
    position: relative;
    left: 20px;
    top: 150px;
}

.aside2 {
    display: table-cell;
    background-image: url("../../assets/images/strips1.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
}