.h1 {
    text-align: center;
    color: #754b23;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
}

.grid {
    display: inline-block;
    width: 33%;
    margin: 1px;
}

.row {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #754b23;
}