
.h1 {
    text-align: center;
}

.caption {
    text-align: center;
    color: #754b23;
    font-family:  "Allura", Cursive;
    font-size: 30px;
    font-weight: bold;
}

.productImage {
    margin-left: 40%;
}

.h3 {
    text-align: center;
}

.description {
    color: #754b23;
    //text-align: center;
}

.cost {
    font-size: 20px;
    font-weight: bold;
    color: #754b23;
}

