
.orderTotals {
    margin-left: 45%;
}

.span {
    margin-left: 25%
}

.spanGuestOrder {
    color: aqua;
}

.cartStatus {
    margin-left: 35%;
}

.spanStatus {
    color: orange;
}

.h4Order {
    margin-left: 15%;
}

.spanOrder {
    color: red;
}

.h6Order {
    margin-left: 25%;
}