
.h3 {
    color: #754b23;
}

.scheduleDays {
    width: 152px;
    height: 35px;
    background-color: #f6ede6;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
}

.scheduleTimes {
    width: 218px;
    height: 35px;
    background-color: #f6ede6;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
}