
.mainDiv {
    display: table;
    clear: both;
    //display: inline-block;
}

.main {
    display: table-cell;
    //display: inline-block;
    width: 55%;
}

.divOfMain {
    width: 85%;
}

.h2 {
    color: #754b23;
}

.aside1 {
    display: table-cell;
    width: 14%;
    position: relative;
    left: 20px;
    top: 150px;
}

.aside2 {
    display: table-cell;
    //display: inline-block;
    width: 25%;
    background-image: url("../../assets/images/strips1.png");
}