
.inputFirstName {
    background-color: #e86b35;
    width: 250px;
    height: 35px;
    margin-left: 35%;

}

.inputLastName {
    background-color: #f6b53e;
    width: 250px;
    height: 35px;
    margin-left: 35%;
}

.inputEmail {

    background-color: #e86b35;
    width: 250px;
    height: 35px;
    margin-left: 35%;
}

.submitOrder {
    background-color: #06b4af;
    width: 150px;
    height: 35px;
    margin-left: 42%; 
}