
.input-field-name {
    background-color: #e86b35;
    width: 310px;
    height: 35px;
    }

.input-field-subject {
    background-color: #e86b35;
    width: 310px;
    height: 35px;
}

.input-field-email {
    background-color: #f6b53e;
    width: 310px;
    height: 35px;
}

.input-field-phone {
    background-color: #06b4af;
    width: 310px;
    height: 35px;
}

.input-field-message {
    background-color: #f6b53e;
    width: 310px;
    height: 115px;
    
        
}

.form-actions {
    background-color: #06b4af;
    width: 155px;
    height: 35px;
    margin-left: 35%;    
}

.emailLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.h2 {
    color: #754b23;
}

.h3 {
    color: #754b23;
}

.h5 {
    color: #754b23;
}


// .tableContainer {
//     display: table;
// }

// .mainLeft {    
//     width: 55%;
// }

// .paragraphs {
//     width: 70%;
// }

// .asideRight {    
//     width: 45%;
       
// }

.downDots {
    margin-top: 20%;
    margin-left: 20%;
}

.upDots {
    margin-top: 10%;
    margin-left: 45%;
    margin-bottom: 30%;
}

