
.brownLine {
    height: 24px;
    background-color: #754b23;
}

.headerBottomLine {
    font-family:  "Allura", Cursive;
    font-size: 30px; 
    text-align: center;
    font-weight: bold;
    color: #754b23; 
}

.headerBackgroudImg {
    background-image: url("../../assets/images/logo.png");
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
