.main-nav {
    display: inline-block;
    position: relative;
    left: 55%;
    display: flex;
    justify-content: space-between;
    width: 45%;
    
    
}

.line {
    display: inline-block;
    margin: auto;    
    margin-left: auto;
    text-decoration: none;
    }