.main-nav {
    display: inline-block;
    position: relative;
    left: 65%;
    display: flex;
    justify-content: space-between;
    width: 33%;
    
}

.line {
    display: inline-block;
    margin: auto;    
    margin-left: auto;
}